/* Custom styles for react-modern-drawer */

  /* Override specific default styles if necessary */
/* .custom-drawer .react-modern-drawer__overlay {
    background-color: rgba(0, 0, 0, 0.5);
  } */
  .EZDrawer .EZDrawer__container {
    background-color: transparent;
    box-shadow: none;
  }